body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    border: 5px solid whitesmoke;
}

.bookDiv {
    display: flex; 
}

#bookCard {
   border: 5px solid white;
   margin: 2vw; 
}

ul {
    list-style-type: none;
    border: 2px solid white;
}

label {
    border: 1px solid green;
}
