body {
    background-color: black;
    color: white;
}

div.top {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    border: 1px solid whitesmoke;
}

.newBook {
    width: 5vw;
    height: 4vh;
    border-radius: 50%;
    
}


.bookDiv {
    display: flex; 
    flex-wrap: wrap;
}

.bookCard {
   border: 5px solid white;
   margin: 2vw; 
}

ul {
    list-style-type: none;
    border: 2px solid white;
}

label {
    border: 1px solid green;
}

.bookCard.readYes {
    box-shadow: 5px 5px green;
}

.bookCard.readNo {
    box-shadow: 5px 5px red;
}

