body {
    background-color: black;
    color: white;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 37, 42, 1);
}

img {
    width: 100px;
}

h1 {
    border-radius: 4px;
    border: 2px solid white;
    font-size: 8vh;
    width: 30vw;
    padding: 1vh;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: black;
    display: flex;
    justify-content: center;
}


.newBook {
    border: 2px solid white;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    background-color: black;
}

.newBookDiv :hover {
    background-color: white;
    color: black;
    border: 2px solid black;    
}

.bookDiv {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.bookCard {
   color: white;
   border: 5px solid rgba(52, 73, 94, 1);
   margin: 2vw; 
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 160px;
   /**background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRQWBTCY5LzapIACcosZ2pBPGjDfH_7KEqkA&usqp=CAU);**/
}


.bookCard.readYes {
    box-shadow: 0 -10px 6px -1px green;
}

.bookCard.readNo {
    box-shadow: 0 -10px 6px -1px red;
}

.form {
    position: absolute;
    margin: 0 auto;
}

ul {
    
    width: fit-content;
    background-color:rgba(36, 37, 42, 1);
    height: fit-content;
    list-style-type: none;
    border: 2px solid white;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "label1"
                         "label2"
                         "label3"
                         "label4"
                         "submit";
    
}

label {
    border: 2px solid yellowgreen
}